<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="contacts">
  <select id="selectContacts" resultType="java.util.Map">
    select posi, name, tel, email from ex_contacts
  </select>
  
  <insert id="insertContacts" parameterType="java.util.Map">
    insert into ex_contacts(email,name,tel,posi)
    values (#{email}, #{name}, #{tel}, #{position})
  </insert>
  
  <update id="updateContacts" parameterType="java.util.Map">
    update ex_contacts set name=#{name}, tel=#{tel} ,posi=#{position}
    where email=#{email}
  </update>
  
  <!-- 파라미터의 타입이 자바 원시 타입이나 String일 경우,
       in-param의 이름은 아무거나 가능하다.
  -->
  <delete id="deleteContacts" parameterType="java.lang.String">
    delete from ex_contacts
    where email=#{email}
  </delete>
  
  <select id="selectOneContacts" resultType="java.util.Map" parameterType="java.lang.String">
    select posi, name, tel, email
    from ex_contacts
    where email=#{bohora}
  </select>
  
</mapper>